<h1 mat-dialog-title *ngIf="name">Projekt {{ name }}</h1>
<h1 mat-dialog-title *ngIf="!name">Konfiguracja projektu</h1>
<div mat-dialog-content>
  <form (ngSubmit)="make()" [formGroup]="form" style="display: flex; flex-direction: column;align-items: center;">
    <mat-form-field>
      <mat-label>Cars</mat-label>
      <mat-select formControlName="project" matNativeControl required (selectionChange)="choose($event)">
        <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div style="display: flex;width:80%;">
      <ng-template [ngIf]="inputs">
        <div class="example-list" cdkDropList (cdkDropListDropped)="indrop($event)">
          <div class="example-box" *ngFor="let input of inputs" cdkDrag>{{input.name}}</div>
        </div>
      </ng-template>
      <ng-template [ngIf]="outputs">
        <div class="example-list" cdkDropList (cdkDropListDropped)="outdrop($event)">
          <div class="example-box" *ngFor="let output of outputs" cdkDrag>{{output.name}}</div>
        </div>
      </ng-template>
    </div>

    <div class="slideright">
      <button mat-button class="btn btn-primary mat-elevation-z8">utwórz</button>
    </div>
  </form>
</div>
