<svg:g (click)="_change()">
    <svg:rect x="0" y="0" width="10" height="10"/>
    <svg:line *ngIf="element.val" stroke-width="0.5" [attr.stroke]="'red'" x1="3" y1="4" x2="5" y2="2"/>
    <svg:line *ngIf="element.val" stroke-width="0.5" [attr.stroke]="'red'" x1="5" y1="2" x2="5" y2="8"/>
    <svg:ellipse *ngIf="!element.val" cx="5" cy="5" rx="2" ry="3" stroke="rgb(23, 109, 28)" stroke-width="0.5" fill="none"/>
</g>
