<div class="picture">
  <button mat-button [routerLink]="'/login'"
    style="float: right;background-color: white; margin-top: 2%; margin-right: 2%;"
    class="mat-elevation-z8">Logowanie</button>
  <div class="centrerbig">
    <div>
      <h1 style="font-size: 500%; color: yellow;">GATE TO LOGIC</h1>
    </div>
    <div class="centrer">
      <mat-card style="padding: 10%;">
        <div class="slidecenter">
          {{ responcetxt }}
        </div>
      </mat-card>
    </div>
  </div>
</div>
