.slideright {
  display: flex;
  justify-content: flex-end;
}
.slidecenter {
  display: flex;
  justify-content: center;
}
.picture {
  width: 100%;
  height: 100%;
  background-image: url("https://subcontracteu.com/uploads/pages/535eee07e8fd4c9fabc377cd464c1d74.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.centrerbig {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.centrer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
}
