<form *ngIf="!send && !truereset" (ngSubmit)="reset()" [formGroup]="form">
  <div>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="email" />
    </mat-form-field>
  </div>
  <div class="slideright">
    <button mat-button class="btn btn-primary mat-elevation-z8">Reset</button>
  </div>
</form>
<div *ngIf="send && !truereset" class="slidecenter">
  Wiadomość z odzyskiwaniem hasła została wysłana
</div>

<div class="picture" *ngIf="truereset">
  <button mat-button [routerLink]="'/login'"
    style="float: right;background-color: white; margin-top: 2%; margin-right: 2%;"
    class="mat-elevation-z8">Logowanie</button>
  <div class="centrerbig">
    <div>
      <h1 style="font-size: 500%; color: yellow;">GATE TO LOGIC</h1>
    </div>
    <div class="centrer">
      <mat-card style="padding: 10%;">
        <form *ngIf="!send" (ngSubmit)="trueresetf()" [formGroup]="trueform">
          <div class="column">
            <mat-form-field>
              <input type="password" formControlName="password" matInput placeholder="Hasło" />
            </mat-form-field>
            <mat-form-field>
              <input #repet type="password" matInput placeholder="Powtórz Hasło" />
            </mat-form-field>
          </div>
          <div class="slideright">
            <button mat-button class="btn btn-primary mat-elevation-z8">Reset</button>
          </div>
        </form>
        <ng-template class="slidecenter" [ngIf]="send">
          <div>Hasło zostało zresetowane</div>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div>
