<h1 mat-dialog-title>Nowy Projekt</h1>
<div mat-dialog-content>
    <form (ngSubmit)="createProject()" [formGroup]="form"
        style="display: flex; flex-direction: column;align-items: center;">
        <mat-form-field>
            <input formControlName="name" matInput placeholder="Nazwa" />
        </mat-form-field>
        <mat-form-field style="width: 80%;">
            <textarea formControlName="description" matInput placeholder="Opis"></textarea>
        </mat-form-field>
        <div class="slideright">
            <button mat-button class="btn btn-primary mat-elevation-z8">utwórz</button>
        </div>
    </form>
</div>