<div class="picture">
  <div style="display: flex;">
    <div style="display: flex;justify-content: center;">
      <div style="background-color: rgb(23, 109, 28);width: 80vw; height: 36vw; border:1px solid black;"
        (mousedown)="startDrag($event)" (mousemove)="drag($event)" (mouseup)="endDrag($event)" (wheel)=wheel($event)>
        <svg #svg viewBox="0 0 200 90">
          <line *ngIf="tryb==2&&cable" [attr.x1]="160 * ((mousex?mousex:0) / (width * 0.64))"
            [attr.y1]="90 * ((mousey?mousey:0) / (width * 0.36))"
            [attr.x2]="160 * ((mousex?mousex:0) / (width * 0.64)) + (dx?dx:0)"
            [attr.y2]="90 * ((mousey?mousey:0) / (width * 0.36)) + (dy?dy:0)" stroke-width="0.5" stroke="black"></line>
          <g
            [attr.transform]="'translate('+(40+viewx+(tryb==4&&move?dx:0))+','+(0+viewy+(tryb==4&&move?dy:0))+') scale('+scale+' '+scale+')'">
            <line *ngFor="let wire of wirestab" stroke-width="0.5" [attr.stroke]="wire.val?'red':'black'"
              [attr.x1]="system.elements[wire.in].x + 10"
              [attr.y1]="system.elements[wire.in].y + (system.elements[wire.in].out.indexOf(wire.id)+1)*(10/(system.elements[wire.in].out.length+1))"
              [attr.x2]="system.elements[wire.out].x"
              [attr.y2]="system.elements[wire.out].y + (system.elements[wire.out].in.indexOf(wire.id)+1)*(10/(system.elements[wire.out].in.length+1))">
            </line>
            <g *ngFor="let element of elementstab" [attr.transform]="'translate('+element.x+','+element.y+')'"
              [element]="element" [system]="system" app-element (delete)="deleteElement($event)"
              (cableChange)="cableChange($event)" appDragDrop [drag]="dragEE" [tryb]="tryb" [scale]="scale"
              [cable]="cable" [viewx]="viewx" [viewy]="viewy" />
          </g>
          <rect width="40" height="90" style="fill:rgb(23, 109, 28);" />
          <g *ngFor="let element of standardtab" [attr.transform]="'translate('+element.x+','+(element.y-showx)+')'"
            [element]="element" app-element (mousedown)="startDragS($event,element.id,element.x,element.y)"
            (mouseup)="endDragS($event)" />
          <line x1="40" y1="0" x2="40" y2="90" stroke-width="0.5" stroke="black"></line>
          <g *ngIf="object" [attr.transform]="'translate('+object.x+','+object.y+')'" [element]="object" app-element
            (mouseup)="endDragS($event)" />
        </svg>
      </div>
    </div>
    <div style="display: flex;flex-direction: column;justify-content: space-evenly;">
      <div>
        <button (click)="step(system)" mat-button style="background-color: white;" class="mat-elevation-z8">
          <mat-icon>label_important</mat-icon>
        </button>
        <mat-slider #time value="1" min="0" max="10" step="1"></mat-slider>
      </div>
      <div style="display: flex;justify-content: space-evenly;">
        <button (click)="tryb=1" mat-button style="background-color: white;" class="mat-elevation-z8">
          <mat-icon>pan_tool</mat-icon>
        </button>
        <button (click)="tryb=2" mat-button style="background-color: white;" class="mat-elevation-z8">
          <mat-icon>build</mat-icon>
        </button>
      </div>
      <div style="display: flex;justify-content: space-evenly;">
        <button (click)="tryb=3" mat-button style="background-color: white;" class="mat-elevation-z8">
          <mat-icon>clear</mat-icon>
        </button>
        <button (click)="tryb=4" mat-button style="background-color: white;" class="mat-elevation-z8">
          <mat-icon>open_with</mat-icon>
        </button>
      </div>
      <div style="display: flex;justify-content: space-evenly;">
        <button
          (click)="viewx = 80-(scale-0.1)/scale*(80-viewx);viewy = 45-(scale-0.1)/scale*(45-viewy);scale=scale-0.1;"
          mat-button style="background-color: white;" class="mat-elevation-z8">-</button>
        <button
          (click)="viewx = 80-(scale+0.1)/scale*(80-viewx);viewy = 45-(scale+0.1)/scale*(45-viewy);scale=scale+0.1;"
          mat-button style="background-color: white;" class="mat-elevation-z8">+</button>
      </div>
      <div style="display: flex;justify-content: center;">
        <button (click)="save()" mat-button style="background-color: white;" class="mat-elevation-z8">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div style="display: flex;justify-content: right;width: 100%;">
    <div *ngIf="savesucces" class="alert alert-info">Udało się zapisać</div>
  </div>
</div>
