<h1 mat-dialog-title>Nazwa {{ text }}</h1>
<div mat-dialog-content>
    <form (ngSubmit)="name()" [formGroup]="form"
        style="display: flex; flex-direction: column;align-items: center;">
        <mat-form-field>
            <input formControlName="name" matInput placeholder="Nazwa" />
        </mat-form-field>
        <div class="slideright">
            <button mat-button class="btn btn-primary mat-elevation-z8">utwórz</button>
        </div>
    </form>
</div>
