<form (ngSubmit)="login()" [formGroup]="form">
  <div *ngIf="isError" class="alert alert-danger">
    {{ errortext }}
  </div>
  <div>
    <mat-form-field>
      <input formControlName="login" matInput placeholder="login" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input formControlName="password" type="password" matInput placeholder="hasło" />
    </mat-form-field>
  </div>
  <div class="slideright">
    <button mat-button class="btn btn-primary mat-elevation-z8">Login</button>
  </div>
  <p routerLink="/reset" (mouseover)="hover=true;" (mouseout)="hover=false"
    [style.text-decoration]="hover?'underline':'none'" style="cursor: pointer;">Nie pamiętam hasła</p>
</form>
