<svg:rect width=10 height=10/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="2" y1="0.5" x2="2" y2="2.5"/>
<svg:path stroke-width="0.5" stroke="rgb(23, 109, 28)" fill="none" d="M2,2.5 A1.25,1 0 0,1 0.5,3.5" />

<svg:path stroke-width="0.5" stroke="rgb(23, 109, 28)" fill="none" d="M1.75,4 A1,0.5 0 0,0 1.75,5.5" />

<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="0.5" y1="6.5" x2="0.5" y2="9.5"/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="0.5" y1="8" x2="1.75" y2="6.5"/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="0.5" y1="8" x2="1.75" y2="9.5"/>

<svg:ellipse cx="8.5" cy="2" rx="1" ry="1.5" stroke="rgb(23, 109, 28)" stroke-width="0.5" fill="none"/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="9" y1="2.75" x2="9.5" y2="3.5"/>

<svg:ellipse cx="8.5" cy="8" rx="1" ry="1.5" stroke="rgb(23, 109, 28)" stroke-width="0.5" fill="none"/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="9" y1="8.75" x2="9.5" y2="9.5"/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="7.5" y1="6" x2="9.5" y2="6"/>

<svg:line stroke-width="0.5" [attr.stroke]="element.val?'red':'rgb(23, 109, 28)'" x1="4.5" y1="3.5" x2="4.5" y2="5.5"/>
<svg:path stroke-width="0.5" [attr.stroke]="element.val?'red':'rgb(23, 109, 28)'" fill="none" d="M4.5,5.5 A1.25,1 0 0,1 3,6.5" />

<svg:line stroke-width="0.5" [attr.stroke]="element.val?'red':'rgb(23, 109, 28)'" x1="5.25" y1="3.5" x2="5.25" y2="6.5"/>
<svg:line stroke-width="0.5" [attr.stroke]="element.val?'red':'rgb(23, 109, 28)'" x1="5.25" y1="5" x2="6.5" y2="3.5"/>
<svg:line stroke-width="0.5" [attr.stroke]="element.val?'red':'rgb(23, 109, 28)'" x1="5.25" y1="5" x2="6.5" y2="6.5"/>
