<div class="picture">
    <button mat-button [routerLink]="state==1?'/register':'/login'"
        class="statebutton mat-elevation-z8">{{buttontext}}</button>
    <div class="centrerbig">
        <div>
            <h1 style="font-size: 500%; color: yellow;">GATE TO LOGIC</h1>
        </div>
        <div class="centrer">
            <mat-card style="padding: 10%;">
                <app-login *ngIf="state==1"></app-login>
                <app-new-user *ngIf="state==2"></app-new-user>
                <app-reset-password *ngIf="state==3"></app-reset-password>
            </mat-card>
        </div>
    </div>
</div>