.centrer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .centrerbig {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
.statebutton {
    float: right;
    background-color: white; 
    margin-top: 2%; 
    margin-right: 2%;
}
.picture {
    width: 100%;
    height: 100%;
    background-image: url("https://subcontracteu.com/uploads/pages/535eee07e8fd4c9fabc377cd464c1d74.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
