<svg:g app-and-gate (change)="_change($event)" [element]=element *ngIf="element.type==1"/>
<svg:g app-or-gate (change)="_change($event)" [element]=element *ngIf="element.type==2"/>
<svg:g app-not-gate (change)="_change($event)" [element]=element *ngIf="element.type==3"/>
<svg:g app-xor-gate (change)="_change($event)" [element]=element *ngIf="element.type==4"/>
<svg:g app-nand-gate (change)="_change($event)" [element]=element *ngIf="element.type==5"/>
<svg:g app-nor-gate (change)="_change($event)" [element]=element *ngIf="element.type==6"/>
<svg:g app-xnor-gate (change)="_change($event)" [element]=element *ngIf="element.type==7"/>
<svg:g app-rs-flip-flop (change)="_change($event)" [element]=element *ngIf="element.type==8"/>
<svg:g app-d-flip-flop (change)="_change($event)" [element]=element *ngIf="element.type==9"/>
<svg:g app-t-flip-flop (change)="_change($event)" [element]=element *ngIf="element.type==10"/>
<svg:g app-jk-flip-flop (change)="_change($event)" [element]=element *ngIf="element.type==11"/>
<svg:g app-toggle-input (change)="_change($event)" [element]=element *ngIf="element.type==12"/>
<svg:g app-clock-input (change)="_change($event)" [element]=element *ngIf="element.type==13"/>
<svg:g app-output (change)="_change($event)" [element]=element *ngIf="element.type==14"/>
<svg:g app-in (change)="_change($event)" [element]=element [system]="system" *ngIf="element.type==15"/>
<svg:g app-out (change)="_change($event)" [element]=element [system]="system" *ngIf="element.type==16"/>
<svg:g app-extern (change)="_change($event)" [element]=element *ngIf="element.type==17"/>
<svg:g app-fork (change)="_change($event)" [element]=element *ngIf="element.type==18"/>
