.form {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.slideright {
    display: flex;
    justify-content: flex-end;
}
.slidecenter {
    display: flex;
    justify-content: center;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
