<form *ngIf="!send;else not" (ngSubmit)="register()" [formGroup]="form">
  <div *ngIf="isError" class="alert alert-danger">
    {{ errortext }}
  </div>
    <div class="column">
        <div class="form">
            <mat-form-field>
                <input formControlName="login" matInput placeholder="Login" />
            </mat-form-field>
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email" />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input type="password" formControlName="password" matInput placeholder="Hasło" />
            </mat-form-field>
            <mat-form-field>
                <input #repet type="password" matInput placeholder="Powtórz Hasło" />
            </mat-form-field>
        </div>
    </div>


    <div class="slideright">
        <button mat-button class="btn btn-primary mat-elevation-z8">Utwórz konto</button>
    </div>
</form>
<ng-template class="slidecenter" #not>
    <div>Wiadomość aktywacyjna została wysłana</div>
</ng-template>
