<svg:rect width=10 height=10/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="0.5" y1="0.5" x2="0.5" y2="3.5"/>
<svg:path stroke-width="0.5" stroke="rgb(23, 109, 28)" fill="none" d="M0.5,0.5 A1.25,0.75 0 0,1 0.5,2" />
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="0.5" y1="2" x2="1.75" y2="3.5"/>

<svg:path stroke-width="0.5" stroke="rgb(23, 109, 28)" fill="none" d="M1.75,4 A1,0.5 0 0,0 1.75,5.5" />

<svg:path stroke-width="0.5" stroke="rgb(23, 109, 28)" fill="none" d="M1.75,6.5 L1,6.5 A0.5,0.75 0 0,0 1,8 L1.25,8 A0.5,0.75 0 0,1 1.25,9.5 L0.5,9.5" />

<svg:ellipse cx="8.5" cy="2" rx="1" ry="1.5" stroke="rgb(23, 109, 28)" stroke-width="0.5" fill="none"/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="9" y1="2.75" x2="9.5" y2="3.5"/>

<svg:ellipse cx="8.5" cy="8" rx="1" ry="1.5" stroke="rgb(23, 109, 28)" stroke-width="0.5" fill="none"/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="9" y1="8.75" x2="9.5" y2="9.5"/>
<svg:line stroke-width="0.5" stroke="rgb(23, 109, 28)" x1="7.5" y1="6" x2="9.5" y2="6"/>

<svg:line stroke-width="0.5" [attr.stroke]="element.val?'red':'rgb(23, 109, 28)'" x1="3.5" y1="3.5" x2="3.5" y2="6.5"/>
<svg:path stroke-width="0.5" [attr.stroke]="element.val?'red':'rgb(23, 109, 28)'" fill="none" d="M3.5,3.5 A1.25,0.75 0 0,1 3.5,5" />
<svg:line stroke-width="0.5" [attr.stroke]="element.val?'red':'rgb(23, 109, 28)'" x1="3.5" y1="5" x2="4.75" y2="6.5"/>

<svg:path stroke-width="0.5" [attr.stroke]="element.val?'red':'rgb(23, 109, 28)'" fill="none" d="M6.5,3.5 L5.75,3.5 A0.5,0.75 0 0,0 5.75,5 L6,5 A0.5,0.75 0 0,1 6,6.5 L5.25,6.5" />
