<div class="picture">
  <div class="centre">
    <div class="slideright">
      <div style="width:20%;" class="centre">
        <div style="margin: 1%;">
          <button mat-button class="mat-elevation-z8" (click)="logout()"
            style="background-color: white;">Wyloguj</button>
        </div>
        <div style="margin: 1%;">
          <button mat-button style="margin: 1%;" class="mat-elevation-z8" (click)="newProject()"
            style="background-color: white;">Nowy
            projekt</button>
        </div>

      </div>
    </div>

    <table style="width: 40%;" mat-table matSort [dataSource]="projects" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Opis </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon matTooltip='{{element.description}}' style="cursor: default;">description</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="open">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon style="cursor: pointer;" (click)="edit(element.id)">edit</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name','description','open']">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['name','description','open'];">
      </tr>
    </table>
    <div style="margin: 1%;">
      <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>
