.centre {
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.slideright {
    display: flex;
    width: 96%;
    margin: 2%;
    justify-content: flex-end;
}
.projects {
    display: flex;
    justify-content: space-between;

}
.picture {
  width: 100%;
  height: 100%;
  background-image: url("https://subcontracteu.com/uploads/pages/535eee07e8fd4c9fabc377cd464c1d74.png");
  background-repeat: no-repeat;
  background-size: cover;
}
